.head-text h4{
color: #cda279;
  
}
.head-text{text-align: center;
  font-size: 20px;}
.main-container {
  
  display: flex;
  justify-content: space-evenly;
}
.box-card {

  width: 350px;
  height: 300px;
}

/* 

------------------------------------------ */

.box-card {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.box-card:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #000;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.box-card:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.box-card span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.box-card:hover span {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

#alignment {
  display: inline-block;
}
